In [8]:
import pandas as pd

In [9]:
df=pd.read_csv(r"C:\Users\ashok\OneDrive\Documents\Case Studies, Datasets, Reports\cs4\employee_performance_data 1.csv")

In [10]:
df.head(2)

,Employee_ID,Performance_Rating,Last_Promotion_Year,Training_Hours,Work_Life_Balance,Job_Satisfaction
0,1,2,2019,28,3,1
1,2,4,2022,174,3,2

In [11]:
df.columns = df.columns.str.lower()

In [12]:
df.columns

Index(['employee_id', 'performance_rating', 'last_promotion_year',
       'training_hours', 'work_life_balance', 'job_satisfaction'],
      dtype='object')

In [13]:
df['employee_id'].is_unique

True

In [14]:
df.isnull().sum()

employee_id            0
performance_rating     0
last_promotion_year    0
training_hours         0
work_life_balance      0
job_satisfaction       0
dtype: int64

In [15]:
df.dtypes

employee_id            int64
performance_rating     int64
last_promotion_year    int64
training_hours         int64
work_life_balance      int64
job_satisfaction       int64
dtype: object

In [16]:
from sqlalchemy import create_engine

# MySQL Connection Details
username = "root"
password = "ashokKUMAR123!"
host = "localhost"
database = "cs4"  

# Create SQLAlchemy engine
engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}/{database}")

# Transfer DataFrame to MySQL table `f_epd`
df.to_sql("f_epd", con=engine, if_exists="replace", index=False)

print("Data transferred successfully to cs4 database!")

Data transferred successfully to cs4 database!

In [17]:
df1=pd.read_csv(r"C:\Users\ashok\OneDrive\Documents\Case Studies, Datasets, Reports\cs4\employee_data 1.csv")

In [18]:
df1.head(2)

,Employee_ID,Age,first_name,last_name,gender,Gender,Department,Job_Role,Education_Level,Marital_Status,Job_Tenure,Distance_From_Home
0,1,22,Konstantin,Shutler,Male,Other,HR,Developer,PhD,Married,1,8
1,2,38,Thorvald,Skoggins,Male,Other,IT,Marketing Lead,Master's,Married,18,32

In [19]:
df1['gender'].unique()

array(['Male', 'Genderqueer', 'Female', 'Genderfluid', 'Bigender',
       'Agender', 'Non-binary', 'Polygender'], dtype=object)

In [20]:
df1['Gender'].unique()

array(['Other', 'Male', 'Female'], dtype=object)

In [21]:
df1=df1.drop(columns=['Gender'])

In [22]:
df1.columns=df1.columns.str.lower()

In [23]:
df1.columns

Index(['employee_id', 'age', 'first_name', 'last_name', 'gender', 'department',
       'job_role', 'education_level', 'marital_status', 'job_tenure',
       'distance_from_home'],
      dtype='object')

In [24]:
df1['employee_id'].is_unique

True

In [25]:
df1.isnull().sum()

employee_id           0
age                   0
first_name            0
last_name             0
gender                0
department            0
job_role              0
education_level       0
marital_status        0
job_tenure            0
distance_from_home    0
dtype: int64

In [26]:
df1.dtypes

employee_id            int64
age                    int64
first_name            object
last_name             object
gender                object
department            object
job_role              object
education_level       object
marital_status        object
job_tenure             int64
distance_from_home     int64
dtype: object

In [27]:
df1.to_sql("d_ed",con=engine,if_exists="replace",index=False)

1000

In [28]:
df1["department"].unique()

array(['HR', 'IT', 'Sales', 'Marketing', 'Operations', 'Finance'],
      dtype=object)

In [29]:
df1["marital_status"].unique()

array(['Married', 'Divorced', 'Single'], dtype=object)

In [30]:
df1["job_role"].unique()

array(['Developer', 'Marketing Lead', 'Senior Developer', 'Manager',
       'HR Specialist', 'Data Analyst'], dtype=object)

In [31]:
df1["education_level"].unique()

array(['PhD', "Master's", "Bachelor's"], dtype=object)

In [32]:
df2=pd.read_csv(r"C:\Users\ashok\OneDrive\Documents\Case Studies, Datasets, Reports\cs4\Attrition 1.csv")

In [33]:
df2.head()

   employee_ID  attrition  Exit_Interview_Score
0          474       True                     2
1           97       True                     4
2          729      False                     1
3          278      False                     2
4          470      False                     4

In [34]:
df2.columns=df2.columns.str.lower()

In [35]:
df2.columns

Index(['employee_id', 'attrition', 'exit_interview_score'], dtype='object')

In [36]:
df2.isnull().sum()

employee_id             0
attrition               0
exit_interview_score    0
dtype: int64

In [37]:
df2["employee_id"].is_unique

False

In [38]:
df2["employee_id"].value_counts()>1

employee_id
97      True
897     True
790     True
742     True
253     True
       ...
688    False
829    False
603    False
79     False
987    False
Name: count, Length: 127, dtype: bool

In [39]:
df2["employee_id"].value_counts()[df2["employee_id"].value_counts() >1]

employee_id
97     2
897    2
790    2
742    2
253    2
929    2
684    2
561    2
262    2
640    2
357    2
556    2
129    2
216    2
959    2
272    2
213    2
Name: count, dtype: int64

In [40]:
df2.dtypes

employee_id             int64
attrition                bool
exit_interview_score    int64
dtype: object

In [41]:
from sqlalchemy import create_engine

# MySQL Connection Details
username = "root"
password = "ashokKUMAR123!"
host = "localhost"
database = "cs4"  

# Create SQLAlchemy engine
engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}/{database}")

# Transfer DataFrame to MySQL table `f_epd`
df2.to_sql("d_at", con=engine, if_exists="replace", index=False)

print("Data transferred successfully to cs4 database!")

Data transferred successfully to cs4 database!